# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Build vmn package and upload to PyPI

on:

  workflow_dispatch:
    inputs:
      version_type:
        type: choice
        description: Version type
        options:
        - patch
        - minor
        - major
        - rc
        required: true


jobs:
  build_pkg:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Install dependencies
      run: |
          sudo apt install -y black
          python3 -m pip install -U pip
          python3 -m pip install -r tests/test_requirements.txt
          python3 -m pip install -r tests/requirements.txt
          python3 -m pip list
          git config --global user.email "you@example.com"
          git config --global user.name "Your Name"
    
    
    - name: run tests
      run: |
        make check

    - name: run vmn stamp version
      run: |
        python3 -m pip install vmn
        make _${{ github.event.inputs.version_type }}

    - name: build pkg
      run: |
        make _build
        ls -ltrh ./dist/
        
    - name: Publish a Python distribution to PyPI
      env:
        TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
        TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
      run: |
        ls -ltrh ./dist/
        make upload